@media (min-width: 1024px){

    .logo-esporaqi{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .section--text{
        display:flex;
        flex-direction: column;
        width: 33%;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        }


    nav ul li a {
        font-size: 1.333rem;
        text-decoration: none;
        color: var(--background-light);
        padding: .111rem;
    }

    .hero{
        width:100%;
        height: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--text-color);
        padding: 1rem 1rem;
        margin: 0 auto;
        /* background-image: url(./bg.webp); */
        background-size: cover;
        background-position: center;
        background-color: var(--background-dark);
    }
    .hero h1 {
        font-size: 4.8rem;
        color: var(--background-light);
        text-shadow: .20rem .20rem .25rem var(--background-dark); 
    }

    .productos{
        padding: 2.4rem 1.2rem;
        text-align: center;
        background-color: var(--background-lightest);
    }

    .productos-grid {
        padding: .111rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 1.2rem;
    }

    .productos-grid-4{
        padding: .111rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 1.2rem;
    }




    .venta-grid-4{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        text-align: center;
        place-content: center;
    } 


    .wsp-button{
        width: 30%;
        height: auto;
        padding: .333rem;
        margin: 0 auto;
        background-color: transparent;
        border: .001rem solid var(--four-color);
        border-radius: 1.1rem;
        transition: .5s;
    }
    
    .wsp-button:hover{
        width: 28%;
        height: auto;
        padding: .333rem;
        margin: 0 auto;
        background-color: transparent;
        border: .001rem solid var(--four-color);
        border-radius: 1.1rem;
        transition: .2s;
    }


    /*  VENTAS */ 
.ventas--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 360px;
    margin: 0 auto;
    background-color: var(--four-color);
    color: var(--background-lightest);
    text-align: center;
    justify-content: center;
    align-items: center;
}


.section--title{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 6rem .444rem;
}


.boton-atras{
width: 32px;
height: auto;
}

.venta--info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: var(--background-lightest);
    text-align: center;
    border-radius: 1.2rem;
 
}

.venta--info div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.venta--info div h3{
margin: 0 auto;
font-size: 2.8rem;
}
.venta--info div p{ 
font-size: 1.6rem;
}

.venta--info div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.4rem auto; 
    width: 50%;
    height: auto;
    font-size: 1.2rem;
    padding: .999rem;
    background-color: transparent;
    border: .111rem solid var(--background-light);
    border-radius: 1.2rem;
    }
  

.product{
width: 50%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 6.4rem auto;
}


.product .product--img{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
border-radius: 2.4rem;
margin: 0 auto;
padding: 0;
}


.productos--img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1024px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.producto--img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}




.catalogo--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 720px;
    background-color: var(--background-light);
    padding: 2.4rem 4.8rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalogo--info{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2.4rem;
}


.catalogo--info h2{
font-size: 2.4rem;
margin: 0 auto;
padding: 1.2rem;
}

.catalogo--info p{
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.2rem;
    }
    
.catalogo--download{
    width: 33%;
    height: auto;
    padding: 1.2rem;
    margin: 0 auto;
    border:none;
    border-radius: 1.2rem;
    color: var(--tertiary-color);
    background-color: var(--background-darker);
}

  }
