@media (min-width: 1024px){

main{
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-light);
}

    .logo-esporaqi{
        width: 40%;
        min-width: 320px;
        height: auto;
        top:6.4rem;
        min-height: 160px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: absolute;
    }


    .social-media {
        display: flex;
        flex-direction: column;
        margin-top: .111rem;
        align-items: center;
        justify-content: center;
    }
    
    .social-media img {
        width: 32px;
        height: 32px;
        margin: 0rem;
    }


    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: transparent;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: grid;
        list-style-type: none;
        padding: .111rem;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
    
    nav ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    margin: 0 3.2rem;
    background-color: transparent;
    }
    
    nav ul li a {
        text-decoration: none;
        color: var(--background-light);
        background-color: transparent;
    }

    .section--text{
        display:flex;
        flex-direction: column;
        width: 30%;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        }

    .hero{
        width:100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--text-color);
        margin: 0 auto;
        /* background-image: url(./bg.webp); */
        background-size: cover;
        background-position: center;
    }
    .hero h1 {
        font-size: 4.8rem;
        color: var(--background-light);
        text-shadow: .20rem .20rem .25rem var(--background-dark); 
    }

    .productos{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--background-lightest);
    }

    .productos-grid{
        width: 100%;
        height: auto;
        min-width: 320px;
        min-height: 160px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 1.8rem;
    }

    
    .wsp-button{
        width: 30%;
        height: auto;
        padding: .333rem;
        margin: 0 auto;
        background-color: transparent;
        border: .001rem solid var(--four-color);
        border-radius: 1.1rem;
        transition: .5s;
    }
    
    .wsp-button:hover{
        width: 28%;
        height: auto;
        padding: .333rem;
        margin: 0 auto;
        background-color: transparent;
        border: .001rem solid var(--four-color);
        border-radius: 1.1rem;
        transition: .2s;
    }

    /*  VENTAS */ 
.ventas--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 360px;
    max-height: 1080px;
    margin: 0 auto;
    background-color: var(--four-color);
    color: var(--background-lightest);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.section--title{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 1rem .444rem;
}

.boton-atras{
width: 32px;
height: auto;
}

.venta--info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: var(--background-lightest);
    text-align: center;
    border-radius: 1.2rem;
 
}

.venta--info div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.venta--info div h3{
margin: 0 auto;
font-size: 2.8rem;
}
.venta--info div p{ 
font-size: 1.6rem;
}

.venta--info div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.4rem auto; 
    width: 50%;
    height: auto;
    font-size: 1.2rem;
    padding: .999rem;
    background-color: transparent;
    border: .111rem solid var(--background-light);
    border-radius: 1.2rem;
    }
  

.product{
width: 50%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 6.4rem auto;
}

.product--text{
font-size: 1.2rem;
padding: 1rem;
margin: 0 auto;
}

.product--img{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
border-radius: 2.4rem;
margin: 0 auto;
padding: 0;
}


.productos--img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 540px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.catalogo--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 1280px;
    background-color: var(--tertiary-color);
    padding: 2.4rem 4.8rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalogo--info{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 3.6rem;
}

.catalogo--info h2{
font-size: 2.4rem;
margin: 0 auto;
padding: 1.2rem;
}

.catalogo--info p{
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 3.2rem .666rem;
    }
    
.catalogo--download{
    width: 33%;
    height: auto;
    padding: 1.2rem;
    margin: 0 auto;
    border:none;
    border-radius: 1.2rem;
    color: var(--tertiary-color);
    background-color: var(--background-darker);
}



/* testimonios */

.testimonial-slider {
    max-width: 100%;
    margin: 0 auto;
    padding: 4.8rem .333rem;
    border: .0333rem solid var(--primary-color);
    border-radius: .111rem;
    background-color: none;
  }

.testimonial-slider h2{
font-family: "Montserrat", sans-serif;
font-size: 1.666rem;
display: flex;
flex-direction: column;
margin: 0 auto;
padding: .999rem;
align-items: center;
justify-content: center;
}
  

.testimonial-slider h3{
font-family: "Montserrat", sans-serif;
font-size: 1.333rem;
display: flex;
flex-direction: column;
margin: 0 auto;
padding: .999rem;
align-items: center;
justify-content: center;
}

.testimonial-slider p{
  font-family: "Montserrat", sans-serif;
  font-size: 1.66rem;
display: flex;
flex-direction: column;
margin: 0 auto;
padding: .999rem;
align-items: center;
justify-content: center;
width: 60%;
height: auto;
}



.slider-container {
position: relative;
overflow: hidden;
}
  
.slider {
display: flex;
transition: transform 0.5s ease;
}
  
.testimonial {
flex: 0 0 100%;
padding: 1.9rem;
text-align: center;
}
  
.testimonial img {
width: 100%;
max-width: 666px;
height: auto;
border-radius: 50%;
margin-bottom: 1rem;
aspect-ratio: 1 / 1;
object-fit: cover;
z-index: 100;
}
  
blockquote {
font-style: italic;
margin: 0;
color: var(--four-color);
}
  
cite {
display: block;
margin-top: 0.5rem;
font-style: normal;
font-weight: bold;
color: var(--four-color);
}
  
.prev, .next {
position: absolute;
top: 50%;
transform: translateY(-50%);
border: none;
border-radius: 3rem;
padding: .666rem .666rem;
font-size: 1.6rem;
cursor: pointer;
}
  
.prev {
left: 1rem;
}
  
.next {
right: 1rem;
}



/* acerca de espora */

.us--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 1280px;
    background-color: var(--cuaternary-color);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  .us--info{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 2.4rem;
  }
  

  .us--info img{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    margin: 1rem auto;
  }
  

  .us--info p{
    font-size: 1.4rem;
    text-align: left;
    text-justify: auto;
    margin: 0 auto;
    padding: .666rem;
    color: var(--background-light);
    }



    
  .us--download{
    width: 66%;
    height: auto;
    padding: 1.2rem;
    margin: 0 auto;
    border:none;
    border-radius: 1.2rem;
    color: var(--tertiary-color);
    background-color: var(--background-darker);
  }
  

.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

  }


  footer{
    z-index: 10;
  }