@media (min-width: 1024px){

    .logo-esporaqi{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
    }


    nav ul li a {
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--background-light);
        padding: .111rem;
    }

    .hero{
        width:100%;
        height: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--text-color);
        padding: 1rem 1rem;
        margin: 0 auto;
        /* background-image: url(./bg.webp); */
        background-size: cover;
        background-position: center;
        background-color: var(--background-dark);
    }
    .hero h1 {
        font-size: 4.8rem;
        font-family: "Tan Pearl";
        color: var(--background-light);
        text-shadow: .20rem .20rem .25rem var(--background-dark); 
    }

    .productos{
        padding: .333rem;
        text-align: center;
        background-color: var(--background-lightest);
    }

    .productos-grid {
        padding: .333rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        gap: 2.4rem;
    }

    .productos-grid-4{
        padding: .333rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 2.8rem;
    }


.product{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 auto;
}


.productos--img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1024px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.producto--img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 480px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.catalogo--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 720px;
    background-color: var(--tertiary-color);
    padding: 2.4rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalogo--info{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2.4rem;
}


.catalogo--info h2{
font-size: 2.4rem;
margin: 0 auto;
padding: 1.2rem;
}

.catalogo--info p{
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.2rem;
    }
    
.catalogo--download{
    width: 33%;
    height: auto;
    padding: 1.2rem;
    margin: 0 auto;
    border:none;
    border-radius: 1.2rem;
    color: var(--tertiary-color);
    background-color: var(--background-darker);
}


  }
