@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #783e19ff; 
    --secondary-color:#c56927ff;
    --tertiary-color:  #ba9571ff;
    --four-color: #5e7153ff;
    --five-color: #aab589ff;
    --accent-color: #fafae4ff;
    --text-color: #783e19ff; 
    --black-txt: #1e1007; 
    --background-light:#f9eec8ff;
    --background-lightest:rgb(255, 250, 232);
    --background-dark: #1a1a1a;
    --background-darker: #000000;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-lightest);
}

main{
    margin: 0;
    padding: 0;
}


nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--background-light);
    justify-content: space-between;
    align-items: center;
    padding-top: .999rem;
    padding-bottom: .999rem;
    padding-left: .333rem;
    padding-right: .333rem;
    position: fixed;
    z-index: 100000;
    background-color: var(--background-dark);
}

a{
    text-decoration: none;
    color: var(--background-light);
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.catalogo--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--background-light);
    padding: 2.4rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalogo--info{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
}

.catalogo--info h2{
font-size: 2.4rem;
margin: 0 auto;
padding: 1.2rem;
}

.catalogo--info p{
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.2rem;
    }
    
.catalogo--download{
    width: 50%;
    height: auto;
    padding: 1.2rem;
    margin: 0 auto;
    border:none;
    border-radius: 1.2rem;
    color: var(--tertiary-color);
    background-color: var(--background-darker);
}

.producto button{
    padding: 1rem 1.8rem;
    width: 100%;
    height: auto;
}

.producto img{
    width: 100%;
    height: auto;
}

.product img{
    width: 100%;
    height: auto;
}

.logo-esporaqi{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 2.4rem;
    height: auto;
}

.section--text{
    display:flex;
    flex-direction: column;
    width: 88%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    }

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: .02rem;
}

nav ul li {
    margin: 0 .333rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--background-light);
}

.hero{
    width:100%;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    padding: 1rem 1rem;
    margin: 0 auto;
    background-image: url(./bg.webp);
    background-size: cover;
    background-position: center;
    background-color: var(--background-darker);
}

.hero article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--background-light);
    margin: 0 auto;
}

h1{
    font-size: 2.4rem;
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
    padding: 1.2rem;
}

.hero h1 {
    font-size: 2.4rem;
    font-family: "Montserrat", sans-serif;
    color: var(--background-light);
    text-shadow: .20rem .20rem .25rem var(--background-dark); 
}

.productos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--background-lightest);
    margin-top: 3.2rem;
}

.productos h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
    padding: 1.2rem;
}

.descripcion {
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.productos-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.productos-grid-4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}


.producto {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 3.2rem;
}

.productos--img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1.2rem;
}

.producto h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
    color: var(--primary-color);
}

.producto p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.producto button {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto button:hover {
    background-color: var(--secondary-color);
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--background-dark);
    padding: 2.8rem 0;
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.8rem 2.4rem;
    text-align: center;
}

.footer-top h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: var(--tertiary-color);
    padding: .333rem;
}

.footer-top h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: var(--tertiary-color);
    padding: .999rem;
}

.footer-top p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    color: var(--accent-color);
    padding: .999rem;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    color: var(--accent-color);
    padding: 1.8rem 5%;
}

.feature {
    text-align: center;
}

.feature img {
    width: 50px;
    height: 50px;
}

.feature p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: var(--accent-color);
}

.footer-bottom {
    text-align: center;
    font-size: 0.8rem;
    padding: 1.2rem;
}

.footer-bottom p{
    color: var(--accent-color);
}

.footer-bottom a {
    color: var(--accent-color);
    text-decoration: none;
}

.social-media {
    margin-top: 1rem;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
}


.contacto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: .333rem;
}

.horarios{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: .333rem;
}

/* productos pagina */


.product{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    text-align: center;
    background-color: var(--background-lightest);
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    border: .111rem solid var(--secondary-color);
    border-radius: 2.4rem;
    padding-top: .999rem;
    padding-bottom: .999rem;
}


hr{
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    margin: 1.2rem;
}




.product h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    margin-bottom: 0.01rem;
    color: var(--primary-color);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}


.product .benefits div ul{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1rem;
    text-align: left;
}


.product .dosage div p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: .333rem .888rem;
    text-align: left;
    font-size: .999rem;
}

.product .note div p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1rem;
    text-align: left;
    font-size: .999rem;
}

.product .instructions div ul{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1rem;
    text-align: left;
    font-size: .999rem;
}

/* testimonios */

.testimonial-slider {
    max-width: 100%;
    margin: 4.8rem auto;
    padding: 4.8rem .333rem;
    border: .0333rem solid var(--primary-color);
    border-radius: .111rem;
  }

.testimonial-slider h2{
    font-family: "Montserrat", sans-serif;
font-size: 2.4rem;
display: flex;
flex-direction: column;
margin: 0 auto;
padding: .333rem;
align-items: center;
justify-content: center;
color: var(--four-color);
}
  
.slider-container {
position: relative;
overflow: hidden;
}
  
.slider {
display: flex;
transition: transform 0.5s ease;
}
  
.testimonial {
flex: 0 0 100%;
padding: 1.9rem;
text-align: center;
}
  
.testimonial img {
width: 100%;
max-width: 666px;
height: auto;
border-radius: 50%;
margin-bottom: 1rem;
aspect-ratio: 1 / 1;
object-fit: cover;
}
  
blockquote {
font-style: italic;
margin: 0;
color: var(--four-color);
}
  
cite {
display: block;
margin-top: 0.5rem;
font-style: normal;
font-weight: bold;
color: var(--four-color);
}
  
.prev, .next {
position: absolute;
top: 50%;
transform: translateY(-50%);
color: white;
background-color: var(--four-color);
border: none;
border-radius: .999rem;
padding: 1rem 1rem;
font-size: .999rem;
cursor: pointer;
}
  
.prev {
left: 1rem;
}
  
.next {
right: 1rem;
}
  
@media (max-width: 768px) {
.testimonial img {
max-width: 200px;
}
}
  
@media (max-width: 480px) {
.testimonial img {
max-width: 150px;
}
}
  
@supports (width: clamp(150px, 50vw, 300px)) {
.testimonial img {
width: clamp(150px, 50vw, 300px);
}
  }



