@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Tan Pearl";
    src: url("../tan-pearl.ttf");
}

.tan-pearl{
    font-family: "Tan Pearl";
}

:root {
    --primary-color: #783e19ff; 
    --secondary-color:#c56927ff;
    --tertiary-color:  #ba9571ff;
    --four-color: #5e7153ff;
    --five-color: #aab589ff;
    --accent-color: #fafae4ff;
    --text-color: #783e19ff; 
    --background-light:#f9eec8ff;
    --background-lightest:rgb(255, 250, 232);
    --background-dark: #1a1a1a;
    --background-darker: #000000;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-lightest);
}

header{
    background-color: var(--background-dark);
    width: 100%;
    height: auto;
    margin: 0 auto;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--background-light);
    justify-content: space-between;
    align-items: center;
    padding-top: .999rem;
    padding-bottom: .999rem;
    padding-left: .333rem;
    padding-right: .333rem;
}



a{
    text-decoration: none;
    color: var(--background-light);
}

ul{
    list-style-type: none;
}

button{
    padding: 2.4rem 1rem;
    margin: 1rem;
    width: 80%;
    height: auto;
}

.logo {
    width: 2.4rem;
    height: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: .02rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--background-light);
}


.hero{
    width:100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    padding: 1rem 1rem;
    margin: 0 auto;
    background-image: url('bg.webp');
    background-size: cover;
    background-position: center;
    background-color: var(--background-lightest);
}

.hero article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--background-light);
    margin: 0 auto;
}

h1{
    font-size: 2.4rem;
    font-family: "Tan Pearl";
    color: var(--primary-color);
    padding: 1.2rem;
}



.hero h1 {
    font-size: 2.4rem;
    font-family: "Tan Pearl";
    color: var(--background-light);
    text-shadow: .20rem .20rem .25rem var(--background-dark); 
}

.productos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--background-lightest);
    margin-top: 3.2rem;
}

.productos h2{
    font-family: "Tan Pearl";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
    padding: 1.2rem;
}





.descripcion {
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.productos-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.producto {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 3.2rem;
}

.producto img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 1.2rem;
}

.producto h2 {
    font-family: "Tan Pearl";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
    color: var(--primary-color);
}

.producto p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}



/* footer */


footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--background-dark);
    padding: 1.8rem 0;
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
}

.footer-top h2 {
    font-family: "Tan Pearl";
    font-size: 1.5rem;
    color: var(--tertiary-color);
    padding: .333rem;
}

.footer-top h3 {
    font-size: 1rem;
    color: var(--tertiary-color);
    padding: .333rem;
}

.footer-top p {
    font-size: 0.9rem;
    color: var(--accent-color);
    padding: .999rem;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    color: var(--accent-color);
    padding: 1rem 5%;
}

.feature {
    text-align: center;
}

.feature img {
    width: 50px;
    height: 50px;
}

.feature p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: var(--accent-color);
}

.footer-bottom {
    text-align: center;
    font-size: 0.8rem;
    padding: 1.2rem;
}

.footer-bottom p{
    color: var(--accent-color);
}

.footer-bottom a {
    color: var(--accent-color);
    text-decoration: none;
}

.social-media {
    margin-top: 1rem;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
}


/* productos pagina */


.product{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--background-lightest);
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    border: .111rem solid var(--secondary-color);
    border-radius: 2.4rem;
    padding-top: .999rem;
    padding-bottom: .999rem;
}


hr{
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    margin: 1.2rem;
}


.product img{
width: 100%;
height: auto;
}

.product h2{
    font-family: "Tan Pearl";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    margin-bottom: 0.01rem;
    color: var(--primary-color);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}


.product .benefits div ul{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1rem;
    text-align: left;
}


.product .dosage div p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: .333rem .888rem;
    text-align: left;
    font-size: .999rem;
}

.product .note div p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1rem;
    text-align: left;
    font-size: .999rem;
}

.product .instructions div ul{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1rem;
    text-align: left;
    font-size: .999rem;
}


